body { font-family: Arial; display: flex; justify-content: center; align-items: center; height: 100vh; margin: 0; }
.calc { width: 200px; }
input { width: 100%; height: 50px; text-align: right; margin-bottom: 10px; font-size: 24px; }
button { width: 25%; height: 50px; font-size: 20px; }

.calc {
  border: 3px solid black;  
  padding: 10px;              
  border-radius: 10px;      
  width: 250px;              
  margin: 20px auto;       
}







